input::placeholder {
    font-size: 10px;
}

.container {
    font-size: 12px;
    height: auto;
    width: 100%;
    overflow: visible;
}

input {
    height: auto;
    width: 100%;
}

.card-body {
    height: auto;
    overflow: hidden;
}

/* Adjustments for better responsiveness */
.card img {
    height: auto;
    max-height: 120px;
}
.card-menu:hover {
    -webkit-box-shadow: -18px 3px 108px -65px rgba(0,0,0,0.75);
    -moz-box-shadow: -18px 3px 108px -65px rgba(0,0,0,0.75);
    box-shadow: -18px 3px 108px -65px rgba(0,0,0,0.75);
    transition: 0.5s;
}
card-menu:hover {
    -webkit-box-shadow: -18px 3px 108px -65px rgba(0,0,0,0.75);
    -moz-box-shadow: -18px 3px 108px -65px rgba(0,0,0,0.75);
    box-shadow: -18px 3px 108px -65px rgba(0,0,0,0.75);
    transition: 0.5s;
}

