input::placeholder {
    font-size: 10px;
}

.container {
    font-size: 12px;
    height: auto;
    width: 100%;
    overflow: visible;
}

input {
    height: auto;
    width: 100%;
}

.card-body {
    height: auto;
    overflow: visible;
}

/* Adjustments for better responsiveness */
.card img {
    height: auto;
    max-height: 120px;
}

