@model TemplateTag
@{
    ViewData["tilte"]= "Delete";
}
<div class="card shadow mb-5 mt-5 pt-2">
    <div class="card-header bg-primary bg-gradient">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">Delete Tag</h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="post" class="row">
            <div class="border pb-3">
                <input asp-for="TagId" type="hidden"/>
                <div asp-validation-summary="All" class="text-danger-emphasis"></div>
                <div class="mb-3 form-floating col-12 bg-white">
                    <input asp-for="TagName" class="form-control border-0 shadow ps-lg-4" disabled />
                    <label asp-for="TagName" class="ms-2 text-dark"></label>
                    <span asp-validation-for="TagName" class="text-danger"></span>
                </div>                
                <div class="row pt-2">
                    <div class="col-3 col-md-3">
                        <button type="submit" class="btn btn-primary bg-dark" style="width:150px">
                            Delete
                        </button>
                    </div>
                    <div class="col-6">
                    </div>
                    <div class="col-3 col-md-3 text-end">
                        <a asp-controller="Tag" asp-action="Index" class="btn btn-primary">
                            Back to list
                        </a>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}