@model IEnumerable<JiraTicket>
<div class="card shadow border-0 mb-5 mt-2">
    <div class="card-header bg-primary bg-gradient ml-0">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-lg-4 col-sm-6 text-center pt-2">
                <h3 class="text-white">Jira Tickets List</h3>
            </div>
        </div>
    </div>
    <div class="card-body">
         <div class="table-responsive">
            <table id="tblData" class="table table-bordered table-striped table-hover" style="width:100%; overflow:auto">
                <thead>
                    <tr>
                        <th>Summary</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>Jira Link</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/support.js"></script>
}