@model string
<div class="text-end mt-3 m-end-0">
    <a class="help-link p-2 m-1 rounded-1 shadow border-1" asp-area="Admin" asp-controller="Support" asp-action="CreateTicket" asp-route-link="@Model" title="Create Support Ticket in Jira">
         <img src="~/Images/Icon/jira.png" style="width:15x;height:15px"/>
    </a>
</div>
